<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chengbiao.ricky.projectframe" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityCanSliding"
            android:label="@string/title_activity_main_activity_no_sliding" />
        <activity
            android:name=".MainActivityNoSliding"
            android:label="@string/title_activity_main_activity_no_sliding" />
        <activity
            android:name=".baidumap.BaiDuMapActivity"
            android:label="@string/title_activity_bai_du_map" />
        <activity
            android:name=".activity.DialogListActivity"
            android:label="@string/title_activity_dialog_list" />
    </application>

</manifest>
